.game {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px 5px;
}
.game.board {
    aspect-ratio: 2/3;

}
.game > * {
    width: 100%;
}
.game .volume-button {
    border-radius: 8px;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    height: auto;
    width: auto;
    padding: 5px;
}
.game #gametitle {
    flex: 1;
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    color: black;
}

.gradient-background {
    background: linear-gradient(215deg,
    #005eff,
    #b2f604);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
  }
  
button {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 2.2rem;
    font-size: 20px;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}
button:active {
    background: rgba(255,255,255,0.8);
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}